<!DOCTYPE html>
<html>
<body>

<form action="/add_user" method="POST">
    <h1>Add User Account</h1>
    
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="Enter name"> <br>

    <label for="birthdate">Birthdate (YYYYMMDD):</label>
    <input type="text" id="birthdate" name="birthdate" placeholder="Enter birthdate"> <br>

    <label for="balance">Account Balance:</label>
    <input type="text" id="balance" name="balance" placeholder="Enter balance"> <br>
    
    <p><input type='submit' value='Add User'/></p>
</form>

</body>
</html>