<!DOCTYPE html>
<html>
<body>

<form action="/add_product" method="POST">
    <h1>Add Product</h1>
    
    <label for="productID">Product ID:</label>
    <input type="text" id="productID" name="productID" placeholder="Enter Product ID"> <br>

    <label for="price">Price:</label>
    <input type="text" id="price" name="price" placeholder="Enter Price"> <br>

    <label for="inventory_amount">Inventory Amount:</label>
    <input type="text" id="inventory_amount" name="inventory_amount" placeholder="Enter Inventory Amount"> <br>
    
    <p><input type='submit' value='Add Product'/></p>
</form>

</body>
</html>